apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  name: "{{ name }}"
  namespace: "{{ namespace }}"
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: {{ type }}
  url: {{ repository_url }}
  name: {{ name }}
  username: {{ username }}
  password: {{ password }}