apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  name: "{{ name }}"
  namespace: "{{ namespace }}"
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: {{ type | tojson }} # like git
  url: {{ repository_url | tojson }}
  name: {{ name | tojson }}
  sshPrivateKey: {{ ssh_private_key | tojson }}
