apiVersion: v1
kind: Secret
metadata:
  name: {{ name | tojson }}
  namespace: {{ namespace | tojson }}
  labels:
    app: {{ name | tojson }}
    project: {{ project.name | tojson }}
    component: application
{% for k, v in (extra_labels or {}).items() %}
    {{ k }}: {{ v | tojson }}
{% endfor %}
type: Opaque
stringData:
{% for k, v in secret_data.items() %}
  {{ k }}: {{ v | tojson }}
{% endfor %}
