apiVersion: v1
kind: Secret
metadata:
  name: "{{ name }}"
  namespace: "{{ namespace }}"
  labels:
    app.kubernetes.io/name: "{{ name }}"
    app.kubernetes.io/component: "{{ secret_type | default('secret') }}"
    created-by: operations-manager
    {% if secret_labels %}
    {% for key, value in secret_labels.items() %}
    {{ key }}: "{{ value }}"
    {% endfor %}
    {% endif %}
  {% if secret_annotations %}
  annotations:
    {% for key, value in secret_annotations.items() %}
    {{ key }}: "{{ value }}"
    {% endfor %}
  {% endif %}
type: {{ secret_k8s_type | default('Opaque') }}
{% if secret_pairs %}
stringData:
  {% for key, value in secret_pairs.items() %}
  {% if '\n' in value %}
  {{ key }}: |
{{ value | indent(4, true) }}
  {% else %}
  {% if value == '' or value == '""' %}
  {{ key }}: ""
  {% elif '"' in value %}
  {{ key }}: {{ value | tojson }}
  {% else %}
  {{ key }}: "{{ value }}"
  {% endif %}
  {% endif %}
  {% endfor %}
{% endif %}