apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ name }}
  annotations:
    haproxy.router.openshift.io/ip_whitelist: {{ ip_whitelist | default("0.0.0.0") }}
    # TODO: determine if we always want to set the proxy buffers
    nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
    nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
{% if issuer_name %}
    cert-manager.io/issuer: {{ issuer_name }}
{% elif cluster_issuer %}
    cert-manager.io/cluster-issuer: {{ cluster_issuer }}
{% endif %}
spec:
  rules:
    - host: {{ hostname }}
      http:
        paths:
          - path: {{ path | default('/') }}
            pathType: Prefix
            backend:
              service:
                name: {{ service_name | default(name) }}
                port:
                  number: {{ service_port | default(80) }}
{% if enable_tls %}
  tls:
{% if issuer_name or cluster_issuer %}
    - hosts:
        - {{ hostname }}
      secretName: {{ tls_secret_name }}
{% else %}
    - {}
{% endif %}
{% endif %}