apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ name }}"
  namespace: "{{ namespace }}"
  annotations:
    argocd.argoproj.io/sync-options: Replace=false
{% if backup_enabled is defined and backup_enabled %}
  labels:
    backup.rig.nl/enabled: "true"
{% endif %}
spec:
  accessModes:
  {% for mode in access_modes %}
    - {{ mode }}
  {% endfor %}
  storageClassName: {{ storage_class_name }}
  resources:
    requests:
      storage: {{ size }}
  {% if source_pvc_name %}
  dataSource:
    kind: PersistentVolumeClaim
    name: {{ source_pvc_name }}
  {% endif %}