{% from "widgets/_macros.html.j2" import helper_text, render_examples, render_errors, bool_attr, extra_attrs %}
<div class="rvo-form-group" {{ extra_attrs(field) }}>
    <span class="utrecht-form-label">{{ field.label|e }}</span>
    {{ helper_text(field) }}
    {{ render_examples(field) }}
    <c-layout-flow gap="md">
        {% for option in options %}
        <c-checkbox
            id="{{ field.path|e }}-{{ option.value|e }}"
            name="{{ field.path|e }}[]"
            value="{{ option.value|e }}"
            label="{{ option.label|e }}"
            {{ bool_attr("checked", option.value in selected_values) }}
            {{ bool_attr("disabled", field.readonly) }}
        />
        {% endfor %}
    </c-layout-flow>
    {{ render_errors(field.errors) }}
</div>
