{% from "widgets/_macros.html.j2" import combined_helper, description_text, render_examples, bool_attr, optional_attr, htmx_attrs, extra_attrs, format_value %}
{{ description_text(field) }}
<c-text-input-field
    id="{{ field.path|e }}"
    name="{{ field.path|e }}"
    label="{{ field.label|e }}"
    type="{{ 'datetime-local' if field.widget_type == 'datetime' else 'date' }}"
    {{ optional_attr("helperText", combined_helper(field)|trim) }}
    {{ bool_attr("required", field.required) }}
    {{ bool_attr("disabled", field.readonly) }}
    {{ optional_attr("value", format_value(field.value)) }}
    {{ optional_attr("invalid", "true" if field.errors else "") }}
    {{ optional_attr("errorText", field.errors[0] if field.errors else "") }}
    {{ htmx_attrs(field) }}
    {{ extra_attrs(field) }}
/>{{ render_examples(field) }}
