{% from "widgets/_macros.html.j2" import bool_attr %}
{% set min_items = (field.min_items or field.attributes.get('min_items', 0))|int %}
{% set remove_disabled = (field.children|length if field.children else 0) <= min_items %}
<div class="rvo-sequence__item rvo-sequence__item--inline" data-index="{{ index }}">
    {{ item_html }}
    <c-button kind="warning-subtle" size="sm"
              label="Verwijderen"
              showIcon="before" icon="verwijderen"
              @click="sequenceRemove('{{ field.path|e }}', {{ index }})"
              {{ bool_attr("disabled", remove_disabled) }} />
</div>
