{% if has_urls %}
<c-card outline="true">
    <c-layout-flow gap="sm">
        <c-heading type="h4" class="section-heading"><c-icon icon="globe" size="md"/>Gegenereerde URL's</c-heading>
        {% if needs_approval %}
        <c-alert>Deze URL's zijn pas beschikbaar na goedkeuring van het domein en/of subdomein.</c-alert>
        {% endif %}
        <c-table>
            <c-table-head><c-table-row>
                <c-th>Component</c-th>
                <c-th>URL</c-th>
            </c-table-row></c-table-head>
            
                {% for entry in urls %}
                <c-table-row>
                    <c-td>{{ entry.component }}</c-td>
                    <c-td><code>{{ entry.url }}</code></c-td>
                </c-table-row>
                {% endfor %}
            
        </c-table>
    </c-layout-flow>
</c-card>
{% endif %}
