{# Waarom er geen toegang is, en wat eraan te doen. #}
{% if reason == 'email-not-verified' %}
<c-heading type="h1"
           textContent="Geen Toegang: e-mailadres niet geverifieerd"/>

<c-heading type="h2" textContent="Wat betekent dit?"/>

<p>Je bent ingelogd, maar je e-mailadres is niet geverifieerd. Om
    veiligheidsredenen krijg je alleen toegang met een geverifieerd
    e-mailadres.</p>

<c-heading type="h3" textContent="Hoe krijg ik toegang?"/>

<c-ul bulletType="icon" bulletIcon="option-1">
    <c-li>Zorg dat je e-mailadres geverifieerd is</c-li>
    <c-li>Denk je dat dit onterecht is? Neem contact op met de <c-link
        href="mailto:robbert.uittenbroek@rijksoverheid.nl"
        content="platformbeheerder"/></c-li>
</c-ul>
{% else %}
<c-heading type="h1"
           textContent="Geen Toegang tot ZAD"/>

<c-heading type="h2" textContent="Wat betekent dit?"/>

<p>Je bent succesvol ingelogd, maar je e-mailadres staat niet op de lijst van
    geautoriseerde gebruikers voor dit platform.</p>

<c-heading type="h3" textContent="Hoe krijg ik toegang?"/>

<c-ul bulletType="icon" bulletIcon="option-1">
    <c-li>Neem contact op met een collega die al een project in ZAD heeft of de <c-link
        href="mailto:robbert.uittenbroek@rijksoverheid.nl"
        showIcon="before"
        icon="info"
        content="platformbeheerder"/></c-li>
</c-ul>
{% endif %}
