{% extends "base.html.j2" %}

{% block page_title %}Over het platform - Self Service Portal{% endblock %}

{% block content %}
<c-layout-flow gap="xl">

    <div>
        <c-heading type="h1" textContent="Over het platform" />
        <p class="rvo-text--lg">
            Self Service voor applicatie deployment binnen ODC-Noord.
        </p>
    </div>

    <c-card outline="true" padding="xl" backgroundColor="wit">
        <c-layout-flow gap="md">
            <c-heading type="h2" textContent="Waarom dit platform?" />
            <p>
                Tijdens het ontwikkelproces van een nieuwe applicatie is het vaak nog niet helemaal bekend
                wat de vereisten zijn. Dat hoeft ook niet. Het maakt het wel lastig om een plek te vinden
                waar je je applicatie kunt ontwikkelen en tegelijkertijd het proces kunt tonen. Gaandeweg
                kun je gebruikmaken van steeds meer functionaliteiten als je applicatie dit nodig heeft.
            </p>
        </c-layout-flow>
    </c-card>

    <c-card outline="true" padding="xl" backgroundColor="wit">
        <c-layout-flow gap="md">
            <c-heading type="h2" textContent="Wat biedt het platform?" />
            <p>
                De selfservice voor applicatie deployment probeert hier een oplossing voor te bieden door
                op een click-ops-achtige manier en via een API-interface de tooling aan te bieden aan
                ontwikkelaars. Hierdoor kunnen zij heel gemakkelijk hun applicatielandschap en
                afhankelijkheden inrichten, zonder zelf diepgaande kennis te hebben van hoe dit achter
                de schermen gebeurt.
            </p>
        </c-layout-flow>
    </c-card>

    <c-card outline="true" padding="xl" backgroundColor="wit">
        <c-layout-flow gap="md">
            <c-heading type="h2" textContent="Veilig en beproefd" />
            <p>
                Dit systeem maakt gebruik van bewezen technieken en voldoet aan alle eisen op het gebied
                van beveiliging, zodat je wel de lusten hebt en niet de lasten. Je kunt gewoon applicaties
                ontwikkelen en uitrollen.
            </p>
        </c-layout-flow>
    </c-card>

</c-layout-flow>
{% endblock %}
