{% extends "base.html.j2" %}

{% block page_title %}Over ZAD - Self Service Portal{% endblock %}

{% block content %}
<c-layout-flow gap="xl">

    {% include "about/_kop.html.j2" %}

    {% include "about/_waarom.html.j2" %}

    {% include "about/_hoe.html.j2" %}

    {% include "about/_veilig.html.j2" %}

</c-layout-flow>
{% endblock %}
