{% extends "base.html.j2" %}

{% block page_title %}Architecture Overview - RIG Cluster Platform{% endblock %}

{% block content %}
<c-hero title="Built for Developers, By Developers" subtitle="The platform that makes deployment effortless" size="lg"/>

<c-layout-flow gap="3xl">
    <div>
        <c-heading type="h2" textContent="Test Section"/>
        <p>Testing if components work here.</p>
    </div>
</c-layout-flow>
{% endblock %}