{# Team & Toegang Section #}
<c-card outline="true" padding="xl" background-color="wit">
    <c-layout-flow gap="lg">
        <c-layout-flow row="true" justify-content="space-between" align-items="center">
            <c-heading type="h2"><c-icon icon="person-2" size="xl" color="hemelblauw"/>Team & Toegang</c-heading>
            {% if user_role in ["admin", "owner"] %}
            {% set lotc_onclick_1 %}openEditModal('modal-edit-team', 'Projectleden beheren'){% endset %}<c-button size="sm" label="Bewerken" show-icon="before" icon="pencil-on-square"/>
            {% endif %}
        </c-layout-flow>
        <p>Teamleden met toegang tot dit project</p>

        <c-grid columns="three" gap="md">
            {% for user in project.users | sort(attribute='email') %}
            <c-card padding="md" outline="true" background-color="grijs-050">
                <c-cluster gap="md">
                    <div class="team-avatar">
                        {{ user.email[:2]|upper }}
                    </div>
                    <c-layout-flow gap="xs">
                        <div class="team-email">{{ user.email }}</div>
                        <div class="team-role">{{ user.role|title }}</div>
                    </c-layout-flow>
                </c-cluster>
            </c-card>
            {% endfor %}
        </c-grid>
    </c-layout-flow>
</c-card>
