{# Page Header - project name, description, badge #}
<div>
    <c-layout-flow row="true" justify-content="space-between" align-items="center" class="section-header-row">
        <div>
            <c-layout-flow row="true" align-items="center" gap="sm">
                <c-heading type="h1" label="{{ project.display_name }}"/>
                {% if user_role in ["admin", "owner"] %}
                <c-button size="sm" label="Bewerken" show-icon="before" icon="bewerken" @/>
                {% endif %}
            </c-layout-flow>
            {% if project.description %}
            <p class="rvo-text--lg text-flush">{{ project.description }}</p>
            {% endif %}
        </div>
    </c-layout-flow>
</div>
