{# De zes stappen die de wizard doorloopt. #}
<div class="rvo-alert rvo-alert--info">
    <c-icon icon="info" size="md"/>
    <div class="rvo-alert__content">
        <c-paragraph><strong>Wat kunt u verwachten?</strong></c-paragraph>

        <c-layout-flow gap="lg">
            <div>
                <c-paragraph><strong>1. Project gegevens</strong></c-paragraph>
                <c-paragraph>Basisgegvens over het project</c-paragraph>
            </div>

            <div>
                <c-paragraph><strong>2. Services kiezen</strong></c-paragraph>
                <c-paragraph>Selecteer de services die uw applicatie nodig heeft, zoals een
                    PostgreSQL database, Keycloak SSO, of object storage.
                </c-paragraph>
            </div>

            <div>
                <c-paragraph><strong>3. Team samenstellen</strong></c-paragraph>
                <c-paragraph>Toekennen van (extra) personen en rollen.</c-paragraph>
            </div>

            <div>
                <c-paragraph><strong>4. Componenten configureren</strong></c-paragraph>
                <c-paragraph>Configureer de naam, poorten en
                    resources voor elk component.
                </c-paragraph>
            </div>

            <div>
                <c-paragraph><strong>5. Domeinen en deployment</strong></c-paragraph>
                <c-paragraph>Bepaal hoe uw applicatie bereikbaar wordt.</c-paragraph>
            </div>

            <div>
                <c-paragraph><strong>6. Controleren en aanmaken</strong></c-paragraph>
                <c-paragraph>Controleer alle ingevulde gegevens in een overzicht.</c-paragraph>
            </div>
        </c-layout-flow>
    </div>
</div>
