{# Wat een ZAD-project is, en wat componenten en services zijn. #}
<c-heading type="h1" label="Nieuw Project Aanmaken"/>

<c-paragraph>
    Met deze wizard maak je stap voor stap een nieuw ZAD-project aan.
</c-paragraph>
<c-paragraph>
    In een ZAD-project leg je vast wat je applicatie nodig heeft.
    Een applicatie bestaat uit één of meerdere onderdelen, in ZAD noemen we dit componenten.
</c-paragraph>
<c-paragraph>Een component bestaat uit basisconfiguratie en een (Docker) image. Denk hierbij bijvoorbeeld
    aan een frontend component, zoals een statisch website in React of HTML en een backend component,
    bijvoorbeeld
    een API in Java of Python.
</c-paragraph>
<c-paragraph>
    Daarnaast kan een applicatie services nodig hebben, zoals een database.
    Services worden voor je ingericht en de benodigde configuratie wordt aan de componenten
    beschikbaar gesteld. Zie ook <c-link target="_blank" href="/services">de services pagina</c-link>.
</c-paragraph>
