{% extends "project-creation-result.html.j2" %}

{% block page_title %}Project Aanmaak Fout{% endblock %}

{% block banner %}
{# Error Message #}
<c-alert heading="Fout bij het aanmaken van het project"/>
{% endblock %}

{% block heading %}Project aanmaak mislukt{% endblock %}

{% block body %}
<p class="rvo-paragraph rvo-paragraph--lg">
    Er is iets misgegaan bij het verwerken van je projectaanvraag. Het project kon niet worden aangemaakt.
</p>

<c-layout-flow gap="sm">
    <p class="rvo-paragraph">
        <strong>Foutdetails:</strong>
    </p>
    <div class="rvo-code-block">
        <pre><code>{{ error_message }}</code></pre>
    </div>
</c-layout-flow>

<c-alert heading="Mogelijke oplossingen"/>

<c-layout-flow gap="md">
    <c-action-group/>
</c-layout-flow>
{% endblock %}
