{# De kop van het projectoverzicht. #}
<div>
    <c-heading type="h1" textContent="Projecten Overzicht" />
    <p class="rvo-text--lg">
        Overzicht van alle actieve projecten in het platform met hun status, team en geactiveerde services.
    </p>
</div>
