{# De kop van het dashboard. #}
<div>
    <c-heading type="h1" label="Dashboard"/>
    <p class="rvo-text--lg">
        Hier vind je een overzicht van al je projecten, deployments en resourcegebruik.
    </p>
</div>
