{# De kop van het dashboard. #}
<div>
    <c-heading type="h1" label="Dashboard"/>
    <p class="rvo-text--lg">
        Hier vindt u een overzicht van al uw projecten, deployments en resource usage.
    </p>
</div>
