{# De kop van het serviceoverzicht. #}
<c-heading type="h1" textContent="Beschikbare Services" />

<p>Wanneer je een service selecteert voor je project, worden alle onderstaande omgevingsvariabelen automatisch beschikbaar gesteld aan het component.</p>
