{# De melding als het ophalen mislukt. #}
<div id="error-msg" class="is-hidden">
    <c-card outline="true" padding="md">
        <p id="error-text" class="metrics-error-text">Fout bij het ophalen van metrics.</p>
    </c-card>
</div>
