{# De kop van het domeinbeheer. #}
<div>
    <c-heading type="h1" label="Domeinbeheer"/>
    <p class="rvo-text--lg">
        Beheer domein- en subdomeinaanvragen voor alle projecten.
    </p>
</div>
