{% from "widgets/_macros.html.j2" import helper_text %}
{% set icon = field.attributes.get('icon', 'sleutel') %}
{% set icon_color = field.attributes.get('icon_color', 'hemelblauw') %}
{% set val = field.value|string if field.value else '' %}
<c-card padding="md" outline>
    <c-layout-flow gap="xs">
        <div class="lotc-display-field__header">
            <c-icon icon="{{ icon|nldd_icon|e }}" size="md" color="{{ icon_color|e }}"/>
            <span class="utrecht-form-label">{{ field.label|e }}</span>
        </div>
        {% if val %}
            {% if val in ['Versleuteld opgeslagen', 'Geconfigureerd'] %}
        <c-tag type="success" label="{{ val|e }}"/>
            {% elif val == 'Niet geconfigureerd' %}
        <c-tag type="warning" label="{{ val|e }}"/>
            {% else %}
        <span>{{ val|e }}</span>
            {% endif %}
        {% endif %}
        {{ helper_text(field) }}
    </c-layout-flow>
</c-card>
