{% from "widgets/_macros.html.j2" import html_attributes %}
<c-fieldset legend="{{ fieldset.legend|e }}"{% if fieldset.css_class %} class="{{ fieldset.css_class|e }}"{% endif %} {{ html_attributes(fieldset.attributes) }}>
    <c-layout-flow gap="md">
        {% if fieldset.description %}
        <p class="rvo-text--subtle">{{ fieldset.description|e }}</p>
        {% endif %}
        {{ children_content }}
    </c-layout-flow>
</c-fieldset>
