{% from "widgets/_macros.html.j2" import helper_text, render_examples, render_errors, bool_attr %}
<div class="rvo-form-group">
    <span class="utrecht-form-label rvo-form-field__label-text">{{ field.label|e }}</span>
    {{ helper_text(field) }}
    {{ render_examples(field) }}
    <c-layout-flow gap="md">
        {% for option in options %}
        <div class="rvo-radio-option">
            <c-radio name="{{ field.path|e }}" value="{{ option.value|e }}" label="{{ option.label|e }}" {{ bool_attr("checked", option.checked) }} {{ bool_attr("disabled", field.readonly) }}/>
            {% if option.description %}
            <p class="rvo-radio-description rvo-text--subtle rvo-text--sm">{{ option.description|e }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </c-layout-flow>
    {{ render_errors(field.errors) }}
</div>
