{% from "widgets/_macros.html.j2" import html_attributes %}
<c-cluster gap="{{ row.gap|e }}"{% if row.css_class %} class="{{ row.css_class|e }}"{% endif %} {{ html_attributes(row.attributes) }}>
    {{ children_content }}
</c-cluster>
