{% from "widgets/_macros.html.j2" import combined_helper, description_text, render_examples, bool_attr, optional_attr, htmx_attrs, extra_attrs %}
{{ description_text(field) }}
<c-select-field id="{{ field.path|e }}" name="{{ field.path|e }}" label="{{ field.label|e }}" {{ optional_attr("helperText", combined_helper(field)|trim) }} {{ bool_attr("required", field.required) }} {{ bool_attr("disabled", field.readonly) }} {{ optional_attr("value", value_str) }} {{ bool_attr("hasError", field.errors) }} {{ optional_attr("errorMessage", field.errors[0] if field.errors else "") }} {{ htmx_attrs(field) }} {{ extra_attrs(field) }}/>{{ render_examples(field) }}
