{% from "widgets/_macros.html.j2" import bool_attr %}
{% set min_items = (field.min_items or field.attributes.get('min_items', 0))|int %}
{% set max_items = field.max_items or field.attributes.get('max_items') %}
{% set fixed_size = max_items is not none and min_items == max_items|int %}
{% set remove_disabled = (field.children|length if field.children else 0) <= min_items %}
{% set remove_label = field.attributes.get('remove_label', 'Verwijderen') %}
<div class="rvo-sequence__item rvo-card rvo-card--outline rvo-card--padding-md" data-index="{{ index }}">
    {% if not fixed_size and field.add_remove %}
    <div class="rvo-sequence__item-header">
        <span></span>
        <c-button size="sm" show-icon="before" icon="verwijderen" @ {{ bool_attr("disabled", remove_disabled) }}>
            {{ remove_label|e }}
        </c-button>
    </div>
    {% endif %}
    <div class="rvo-sequence__item-content">
        <c-layout-flow gap="md">
            {{ item_html }}
        </c-layout-flow>
    </div>
</div>
