{# De zes stappen die de wizard doorloopt. #}
<div class="rvo-alert rvo-alert--info">
    <c-icon icon="info" size="md"/>
    <div class="rvo-alert__content">
        <c-p><strong>Wat kunt u verwachten?</strong></c-p>

        <c-layout-flow gap="lg">
            <div>
                <c-p><strong>1. Project gegevens</strong></c-p>
                <c-p>Basisgegvens over het project</c-p>
            </div>

            <div>
                <c-p><strong>2. Services kiezen</strong></c-p>
                <c-p>Selecteer de services die uw applicatie nodig heeft, zoals een
                    PostgreSQL database, Keycloak SSO, of object storage.
                </c-p>
            </div>

            <div>
                <c-p><strong>3. Team samenstellen</strong></c-p>
                <c-p>Toekennen van (extra) personen en rollen.</c-p>
            </div>

            <div>
                <c-p><strong>4. Componenten configureren</strong></c-p>
                <c-p>Configureer de naam, poorten en
                    resources voor elk component.
                </c-p>
            </div>

            <div>
                <c-p><strong>5. Domeinen en deployment</strong></c-p>
                <c-p>Bepaal hoe uw applicatie bereikbaar wordt.</c-p>
            </div>

            <div>
                <c-p><strong>6. Controleren en aanmaken</strong></c-p>
                <c-p>Controleer alle ingevulde gegevens in een overzicht.</c-p>
            </div>
        </c-layout-flow>
    </div>
</div>
