<c-heading type="h2">
    <c-icon icon="schild-met-vinkje-erop" size="xl" color="groen"/>
    Authorization Wall
</c-heading>

<c-paragraph>
    De Authorization Wall zorgt ervoor dat alleen ingelogde gebruikers je applicatie
    kunnen bereiken. Bezoekers die niet zijn ingelogd worden automatisch doorgestuurd
    naar een inlogpagina.
</c-paragraph>

<c-heading type="h3">Wanneer gebruik je dit?</c-heading>

<c-ul>
    <c-li>Je applicatie is zichtbaar op het internet maar niet voor iedereen bedoeld</c-li>
    <c-li>Je wilt dat gebruikers eerst moeten inloggen</c-li>
    <c-li>Je applicatie heeft zelf geen inlogscherm</c-li>
</c-ul>

<c-heading type="h3">Wat wordt er ingesteld?</c-heading>

<c-layout-flow gap="md">
    <c-paragraph>
        Er wordt automatisch een inlogscherm gekoppeld aan je applicatie via Keycloak. Alle aanvragen
        naar je applicatie worden door een proxy gestuurd die afdwingt dat de gebruiker
        ingelogd is en geautoriseerd is.
    </c-paragraph>

    <c-paragraph>
        <c-strong>Let op:</c-strong>
        deze service vereist dat ook
        <c-strong>Keycloak Authentication</c-strong>
        en
        <c-strong>Publiceren op het web</c-strong>
        zijn ingeschakeld.
        Deze worden automatisch mee geselecteerd.
    </c-paragraph>
</c-layout-flow>
