{# De kop van het gebruikersbeheer. #}
<div>
    <c-heading type="h1" label="Gebruikersbeheer"/>
    <p class="rvo-text--lg">
        Beheer de platformgebruikers: e-mailadressen en namen.
    </p>
</div>
