{# De melding na een geslaagde handeling. #}
{% if success_message %}
<c-card padding="md" background-color="wit" outline="true">
    <div class="flash-success">
        <c-icon icon="vinkje" size="md"/>
        <span>{{ success_message }}</span>
    </div>
</c-card>
{% endif %}
