{# De tabel met geheugengebruik en kosten. #}
<c-table description="Geheugengebruik en kosten {{ year }}">
    <c-thead>
        <c-tr>
            <c-th scope="col">Maand</c-th>
            <c-th scope="col">Gebruik (GiB)</c-th>
            <c-th scope="col">Kosten (&euro;)</c-th>
        </c-tr>
    </c-thead>
    <c-tbody>
        {% for month in month_data %}
        <c-tr>
            <c-td>{{ month.name }} {{ month.year }}</c-td>
            <c-td>{{ month.gib }}</c-td>
            <c-td>&euro; {{ month.cost }}</c-td>
        </c-tr>
        {% endfor %}
        <c-tr>
            <c-td><strong>Totaal</strong></c-td>
            <c-td><strong>{{ total_gib }}</strong></c-td>
            <c-td><strong>&euro; {{ total_cost }}</strong></c-td>
        </c-tr>
    </c-tbody>
</c-table>
