{# Het tabblad Taken: de lijst wordt pas geladen als het tabblad open staat. #}
<c-layout-flow id="tab-taken" gap="lg" class="is-hidden">
    {# Loaded + polled only while the Taken tab is open (startTasksPoll/stopTasksPoll),
       so we don't poll every 5s from page load on tabs the user is not viewing. #}
    <div id="tasks-content" data-tasks-url="/projects/{{ project.name }}/tasks">
        <c-paragraph>Taken worden geladen...</c-paragraph>
    </div>
</c-layout-flow>
